PORT=8080
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/

# Database Name
USER_DB=users


# JWT
ACCESS_TOKEN_SECRET=access_secret
REFRESH_TOKEN_SECRET=refresh_secret
ACCESS_TOKEN_LIFE=1h
REFRESH_TOKEN_LIFE=1d

