PORT=8080
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/

# Database Name
USER_DB=Users
CATEGORY_DB=Categories
INCOME_DB=Incomes
EXPENSE_DB=Expenses
TRANSACTION_DB=Transactions
GOAL_DB=Goals
BUDGET_DB=Budgets

# JWT
ACCESS_TOKEN_SECRET=access_secret
REFRESH_TOKEN_SECRET=refresh_secret
ACCESS_TOKEN_LIFE=1h
REFRESH_TOKEN_LIFE=1d

